

<div class="form-signin w-100 m-auto signup">
    <form action="/ingresar" method="post">
        <img class="mb-4 logo" src="/img/logoColorHorizontal.png" class="card-img-top mx-auto m-2 rounded-circle " alt="">
        <h1 class="h3 mb-3 fw-normal">Ingresa por favor</h1>

        <div class="form-floating">
            <input type="email" name="username" class="form-control" id="floatingInput" placeholder="Username">
            <label for="floatingInput">Email</label>
        </div>

        <div class="form-floating">
            <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Contraseña">
            <label for="floatingPassword">Contraseña</label>
        </div>

        <div class="form-group">
            <button class="w-100 btn btn-lg btn-primary" type="submit">Ingresar</button>
            <a href="/registrarse" class="w-100 btn btn-lg btn-secondary" type="">Registrarse</a>
        </div>
    </form>
</div>
