.homeIndex {

    height: 100vh;
}

.contentIndex {
    margin: 0 auto;
    z-index: 1000;
}
.imgIndex{
    width: 700px;
}
.columnsHome{
}
.col-lg-6{
    z-index: 100;

}

.checks{
    margin: 0 auto;
    padding: 10px;
}
/*
#checksTipoEntrada{
    display: none;
}

 */