
th{
    width: auto;
}
td{
}
.table{
    width: 80%;
    margin: 4% auto auto auto;
    margin-bottom: 40px;
}
.btn{
    width: auto;
}

.this{

    text-align: center;
}
.nothing{
    padding: 90px 20px 0px 20px;
}

img{
    width: 30%;
    padding: 20px;
}
.list{
    border: solid 1px;

}

/* Animation */

.container h2{
}
.searchbar{
    margin: 0 auto;
    width: 30%;
}


.text-small {
    font-size: 85%;
}

