
th{
    width: auto;
}
td{
}

.btn{
    width: auto;
}

.this{

    text-align: center;
}
.nothing{
    padding: 90px 20px 0px 20px;
}

img{
    width: 30%;
    padding: 20px;
}
.list{
    border: solid 1px;

}

/* Animation */
.tituloorden {
    text-align: start;
}
.searchbar{

}

.text-small {
    font-size: 85%;
}


.botonlista{
    padding: 5px;

}

.botonlista:hover{
    color: rgba(38, 72, 194, 0.66);

}
.nombreCompleto{

}


