*{

     font-family: 'Montserrat', sans-serif;

}

.homeIndex{
     height: 100vh;
     width: 100vh;
}



.form-control:disabled, .form-control[readonly]{
     background-color: white !important;
}

.nav-tabs{
     margin-top: 10px;
}

.modal-body{
     display: flex;
     align-content: baseline;

}
.modal-body .card{
     margin: 10px;
     border-color: white;
     display: flex;
     align-items: center;
     text-align: center;

}

.modalTecnico .card{
margin: 0 auto;
}


.card-body a{
     margin-top: 10px;

}


.formularioTecnicos{
     width: 70%;
     margin: 0 auto;
}

.botonesAgregar{
     margin-top: 5px;
}



.divPadre{
     display: flex;
     margin: 10px 20px;
}

.nombre{
     color: transparent;
}
.nombre::placeholder{
     color: black;
}