<div class="container">

    {{#each ordenes}}
    <form action="/tecnicoexterno/{{idOrdenTrabajo}}" id="form" class="formTecnicos" id="" method="post">


        <div class="este">
            <h1 style="text-align: center">Asignar Tecnicos a orden Nr#  {{idOrdenTrabajo}}</h1>

        </div>
    {{/each}}


    <div class="row g-2 mb-3 tecnicosAl">
        <div class="col-md">

            <div id="divPadre">
                <select class="form-select" name="idTecnico" id="nombreTecnico">
                    <option value="null" selected> Selecciona un tecnico de la Lista</option>
                    {{#each tecnico}}
                        <option value="{{idUser}}">{{fullname}}</option>
                    {{/each}}
                </select>

            </div>
            <div id="selectsTecnico"></div>

        </div>
        <div class="col-1 botonAgregarT">
            <a class="btn btn-dark" href="#" onclick="duplicar1();"> +</a>
        </div>

    </div>



    <!--<input type="hidden" name="idStatus" value="6">-->


    <button class="btn btn-primary" type="submit" onclick="validate();">Enviar</button>
</form>

</div>








