<nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">NOVARED SA</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Ordenes</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/orden/agregarOrden">Agregar Orden</a></li>
                        <li><a class="dropdown-item" href="/orden">Ver todas las ordenes</a></li>
                        <li><a class="dropdown-item" href="#">Obtener reporte</a></li>
                </div>
            </div>
        </div>

</nav>

