
<nav class="navbar bg-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <!--<img src="/img/logoColor.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">-->
            Novared SA </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Novared SA</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">

                        <a class="nav-link active" aria-current="page" href="/">Home</a>

                    </li>
                    {{#if user}}
                    <li class="nav-item dropdown bg-dark">
                        <li class="nav-item">

                            <a class="nav-link active" aria-current="page" href="/profile">Perfil</a>

                        </li>
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Ordenes</a>
                        <ul class="dropdown-menu ">
                            <li><a class="dropdown-item" href="/orden/agregarOrden">Agregar Orden</a></li>
                            <li><a class="dropdown-item" href="/orden">Ver todas las ordenes</a></li>
                            <li><a class="dropdown-item" href="#">Obtener reporte</a></li>
                        </ul>

                        <div class="nav-item">
                            <a href="/salir" class="btn btn-light text-dark me-2">Salir</a>
                        </div>

                    {{else}}
                        <div class="">
                            <a href="/ingresar" class="btn btn-light text-dark me-2">Ingresar</a>
                            <a href="/registrarse" class="btn btn-primary">Registrar</a>
                        </div>
                    {{/if}}



            </div>
        </div>
    </div>
</nav>

<!--


<nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">NOVARED SA</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Ordenes</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/orden/agregarOrden">Agregar Orden</a></li>
                        <li><a class="dropdown-item" href="/orden">Ver todas las ordenes</a></li>
                        <li><a class="dropdown-item" href="#">Obtener reporte</a></li>
                    </ul>
                </div>
                <div class="text-end">
                    <a href="/ingresar" class="btn btn-light text-dark me-2">Ingresar</a>
                    <a href="/registrarse" class="btn btn-primary">Registrarse</a>
                </div>
            </div>
        </div>

</nav>
-->


