{{#if user}}

    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a href="/dashboard" class="logo d-flex align-items-center">
                <img src="/img/logotipo.png" alt="">
                <span class=" d-lg-block">CeroPapel</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div>

        <nav class="header-nav ms-auto">

            <ul class="d-flex align-items-center">

                <li class="nav-item dropdown pe-3">

                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <!-- <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">-->
                        <span class="d-none d-md-block dropdown-toggle ps-2">{{user.fullname}}</span>
                    </a><!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>{{user.fullname}}</h6>
                            <!--<span>Web Designer</span>-->
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="/profile">
                                <i class="bi bi-person"></i>
                                <span>Perfil</span>
                            </a>
                        </li>

                        <hr class="dropdown-divider">

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="/salir">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Salir</span>
                            </a>
                        </li>

                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->

    <!-- Admin SideBar -->
    {{#when user.rolusuario 'eq' 1}}

        <aside id="sidebar" class="sidebar">

            <ul class="sidebar-nav" id="sidebar-nav">

                <li class="nav-item">
                    <a class="nav-link " href="/dashboard">
                        <i class="bi bi-grid"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="nav-heading">Pages</li>

                <li class="nav-item">
                    <a class="nav-link collapsed" href="/profile">
                        <i class="bi bi-person"></i>
                        <span>Profile</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#ordenes-nav" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-file-earmark-bar-graph"></i><span>Ordenes Mantenimiento</span><i
                            class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="ordenes-nav" class="nav-content collapse " data-bs-parent="#ordenes-nav">
                        <li>
                            <a href="/agregarOrden">
                                <i class="bi bi-circle"></i><span>Agregar Orden</span>
                            </a>
                        </li>
                        <li>
                            <a href="/misordenes">
                                <i class="bi bi-circle"></i><span>Ver mis Ordenes</span>
                            </a>
                        </li>
                        <li>
                            <a href="/ordenesporaceptar">
                                <i class="bi bi-circle"></i><span>Ordenes Por Aprobar</span>
                            </a>
                        </li>
                        <li>
                            <a href="/ordenesaprobadas">
                                <i class="bi bi-circle"></i><span>Ordenes Aprobadas</span>
                            </a>
                        </li>
                        <li>
                            <a href="/ordenesasignadas">
                                <i class="bi bi-circle"></i><span>Ordenes Asignadas</span>
                            </a>
                        </li>
                        <li>
                        <li>
                            <a href="/porrevisar">
                                <i class="bi bi-circle"></i><span>Ordenes Por Revisar</span>
                            </a>
                        </li>
                        <li>
                            <a href="/externas">
                                <i class="bi bi-circle"></i><span>Ordenes Externas</span>
                            </a>
                        </li>
                        <li>
                            <a href="/cerradas">
                                <i class="bi bi-circle"></i><span>Ordenes Cerradas</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#add-nav" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-node-plus-fill"></i><span>Agregar</span><i
                            class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="add-nav" class="nav-content collapse " data-bs-parent="#add-nav">
                        <li>
                            <a href="/addarea">
                                <i class="bi bi-circle"></i><span>Agregar Area</span>
                            </a>
                        </li>
                        <li>
                            <a href="/addmaquina">
                                <i class="bi bi-circle"></i><span>Agregar Maquina</span>
                            </a>
                        </li>
                        <li>
                            <a href="/addproducto">
                                <i class="bi bi-circle"></i><span>Agregar Suministros</span>
                            </a>
                        </li>
                        <li>
                            <a href="/addProveedor">
                                <i class="bi bi-circle"></i><span>Agregar Proveedor</span>
                            </a>
                        </li>
                        <li>
                            <a href="/addtecnico/">
                                <i class="bi bi-circle"></i><span>Agregar Tecnico</span>
                            </a>
                        </li>
                        <li>
                            <a href="/addsuministros">
                                <i class="bi bi-circle"></i><span>Agregar Rol</span>
                            </a>
                        </li>
                        <li>
                            <a href="/parastiposdetalle">
                                <i class="bi bi-circle"></i><span>Agregar Paras/Tipos</span>
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#usersadmin" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-person-rolodex"></i><span>Usuarios</span><i
                            class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="usersadmin" class="nav-content collapse " data-bs-parent="#usersadmin">
                        <li>
                            <a href="/todosusuarios">
                                <i class="bi bi-circle"></i><span>Todos los usuarios</span>
                            </a>
                        </li>
                        <li>
                            <a href="/editrolusuario">
                                <i class="bi bi-circle"></i><span>Rol Usuarios</span>
                            </a>
                        </li>
                        <li>
                            <a href="/especialidadtecnico">
                                <i class="bi bi-circle"></i><span>Especialidad Tecnicos</span>
                            </a>
                        </li>


                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#a-nav" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-joystick"></i><span>Ordenes de Fabricación</span><i
                            class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="a-nav" class="nav-content collapse " data-bs-parent="#ordenes-nav">
                        <li>
                            <a href="/agregarof">
                                <i class="bi bi-circle"></i><span>Crear OF</span>
                            </a>
                        </li>

                        <li>
                            <a href="/ordenesfabricacionabiertas">
                                <i class="bi bi-circle"></i><span>OF´s Abiertas</span>
                            </a>
                        </li>
                        <li>
                            <a href="/ordenesfabricacion">
                                <i class="bi bi-circle"></i><span>OF´s Asignadas</span>
                            </a>
                        </li>
                        <li>
                            <a href="/ordenesfabricacionTerminadas">
                                <i class="bi bi-circle"></i><span>OF´s Terminadas</span>
                            </a>
                        </li>
                        <li>
                            <a href="/reportefechasoft">
                                <i class="bi bi-circle"></i><span>Reportes OF's</span>
                            </a>
                        </li>
                        <!--
                        <li>
                            <a href="/ordenesatender">
                                <i class="bi bi-circle"></i><span>Ordenes Por Atender</span>
                            </a>
                        </li>
                        <li>
                            <a href="/ordenesatendidasT">
                                <i class="bi bi-circle"></i><span>Ordenes Atendidas</span>
                            </a>
                        </li>
-->
                    </ul>
                </li>


                <li class="nav-item">
                    <a class="nav-link collapsed" href="/salir">
                        <i class="bi bi-box-arrow-left"></i>
                        <span>Salir</span>
                    </a>
                </li>

                </li>

            </ul>

        </aside><!-- End Sidebar-->
    {{/when}}
    <!-- Lider Mantenimiento SideBar -->
    {{#when user.rolusuario 'eq' 2}}

        <aside id="sidebar" class="sidebar">

            <ul class="sidebar-nav" id="sidebar-nav">

                <li class="nav-item">
                    <a class="nav-link " href="/dashboard">
                        <i class="bi bi-grid"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="nav-heading">Pages</li>

                <li class="nav-item">
                    <a class="nav-link collapsed" href="/profile">
                        <i class="bi bi-person"></i>
                        <span>Profile</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#ordenes-nav" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-file-earmark-bar-graph"></i><span>Ordenes Mantenimiento</span><i
                            class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="ordenes-nav" class="nav-content collapse " data-bs-parent="#ordenes-nav">
                        <li>
                            <a href="/agregarOrden">
                                <i class="bi bi-circle"></i><span>Agregar Orden</span>
                            </a>
                        </li>
                        <li>
                            <a href="/misordenes">
                                <i class="bi bi-circle"></i><span>Ver mis Ordenes</span>
                            </a>
                        </li>
                        <li>
                            <a href="/ordenesporaceptar">
                                <i class="bi bi-circle"></i><span>Ordenes Por Aprobar</span>
                            </a>
                        </li>
                        <li>
                            <a href="/ordenesaprobadas">
                                <i class="bi bi-circle"></i><span>Ordenes Aprobadas</span>
                            </a>
                        </li>
                        <li>
                            <a href="/ordenesasignadas">
                                <i class="bi bi-circle"></i><span>Ordenes Asignadas</span>
                            </a>
                        </li>
                        <li>
                        <li>
                            <a href="/porrevisar">
                                <i class="bi bi-circle"></i><span>Ordenes Por Revisar</span>
                            </a>
                        </li>
                        <li>
                            <a href="/externas">
                                <i class="bi bi-circle"></i><span>Ordenes Externas</span>
                            </a>
                        </li>
                        <li>
                            <a href="/cerradas">
                                <i class="bi bi-circle"></i><span>Ordenes Cerradas</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#add-nav" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-node-plus-fill"></i><span>Agregar</span><i
                            class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="add-nav" class="nav-content collapse " data-bs-parent="#add-nav">
                        <li>
                            <a href="/addarea">
                                <i class="bi bi-circle"></i><span>Agregar Area</span>
                            </a>
                        </li>
                        <li>
                            <a href="/addmaquina">
                                <i class="bi bi-circle"></i><span>Agregar Maquina</span>
                            </a>
                        </li>
                        <li>
                            <a href="/addproducto">
                                <i class="bi bi-circle"></i><span>Agregar Suministros</span>
                            </a>
                        </li>
                        <li>
                            <a href="/addProveedor">
                                <i class="bi bi-circle"></i><span>Agregar Proveedor</span>
                            </a>
                        </li>
                        <li>
                            <a href="/addtecnico/">
                                <i class="bi bi-circle"></i><span>Agregar Tecnico</span>
                            </a>
                        </li>
                        <li>
                            <a href="/addsuministros">
                                <i class="bi bi-circle"></i><span>Agregar Rol</span>
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link collapsed" href="pages-contact.html">
                        <i class="bi bi-person-video2"></i>
                        <span>Roles Usuarios</span>
                    </a>
                </li><!-- End Contact Page Nav -->

                <li class="nav-item">
                    <a class="nav-link collapsed" href="pages-register.html">
                        <i class="bi bi-card-list"></i>
                        <span>Register</span>
                    </a>
                </li><!-- End Register Page Nav -->

                <li class="nav-item">
                    <a class="nav-link collapsed" href="/salir">
                        <i class="bi bi-box-arrow-left"></i>
                        <span>Salir</span>
                    </a>
                </li>
                <!--
                <li class="nav-item">
                    <a class="nav-link collapsed" href="pages-error-404.html">
                        <i class="bi bi-dash-circle"></i>
                        <span>Error 404</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link collapsed" href="pages-blank.html">
                        <i class="bi bi-file-earmark"></i>
                        <span>Blank</span>
                    </a>
                </li> -->

            </ul>

        </aside><!-- End Sidebar-->
    {{/when}}
    <!-- Usuario SideBar -->
    {{#when user.rolusuario 'eq' 3}}

        <aside id="sidebar" class="sidebar">

            <ul class="sidebar-nav" id="sidebar-nav">

                <li class="nav-item">
                    <a class="nav-link " href="/dashboard">
                        <i class="bi bi-grid"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="nav-heading">Pages</li>

                <li class="nav-item">
                    <a class="nav-link collapsed" href="/profile">
                        <i class="bi bi-person"></i>
                        <span>Profile</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#ordenes-nav" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-file-earmark-bar-graph"></i><span>Ordenes Mantenimiento</span><i
                            class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="ordenes-nav" class="nav-content collapse " data-bs-parent="#ordenes-nav">
                        <li>
                            <a href="/agregarOrden">
                                <i class="bi bi-circle"></i><span>Agregar Orden</span>
                            </a>
                        </li>
                        <li>
                            <a href="/misordenes">
                                <i class="bi bi-circle"></i><span>Ver mis Ordenes</span>
                            </a>
                        </li>


                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="/salir">
                        <i class="bi bi-box-arrow-left"></i>
                        <span>Salir</span>
                    </a>
                </li>


            </ul>

        </aside><!-- End Sidebar-->

    {{/when}}
    <!-- Tecnico Mantenimiento SideBar -->
    {{#when user.rolusuario 'eq' 4}}

        <aside id="sidebar" class="sidebar">

            <ul class="sidebar-nav" id="sidebar-nav">

                <li class="nav-item">
                    <a class="nav-link " href="/dashboard">
                        <i class="bi bi-grid"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="nav-heading">Pages</li>

                <li class="nav-item">
                    <a class="nav-link collapsed" href="/profile">
                        <i class="bi bi-person"></i>
                        <span>Profile</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#ordenes-nav" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-file-earmark-bar-graph"></i><span>Ordenes Mantenimiento</span><i
                            class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="ordenes-nav" class="nav-content collapse " data-bs-parent="#ordenes-nav">
                        <li>
                            <a href="/agregarOrden">
                                <i class="bi bi-circle"></i><span>Agregar Orden</span>
                            </a>
                        </li>
                        <li>
                            <a href="/misordenes">
                                <i class="bi bi-circle"></i><span>Ver mis Ordenes</span>
                            </a>
                        </li>
                        <li>
                            <a href="/ordenesatender">
                                <i class="bi bi-circle"></i><span>Ordenes Por Atender</span>
                            </a>
                        </li>
                        <li>
                            <a href="/ordenesatendidasT">
                                <i class="bi bi-circle"></i><span>Ordenes Atendidas</span>
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link collapsed" href="/salir">
                        <i class="bi bi-box-arrow-left"></i>
                        <span>Salir</span>
                    </a>
                </li>

            </ul>

        </aside><!-- End Sidebar-->

    {{/when}}
    <!-- Operador SideBar -->
    {{#when user.rolusuario 'eq' 5}}
        <aside id="sidebar" class="sidebar">

            <ul class="sidebar-nav" id="sidebar-nav">

                <li class="nav-item">
                    <a class="nav-link " href="/dashboard">
                        <i class="bi bi-grid"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="nav-heading">Pages</li>

                <li class="nav-item">
                    <a class="nav-link collapsed" href="/profile">
                        <i class="bi bi-person"></i>
                        <span>Profile</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#ordenes-nav" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-file-earmark-bar-graph"></i><span>Ordenes Mantenimiento</span><i
                            class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="ordenes-nav" class="nav-content collapse " data-bs-parent="#ordenes-nav">
                        <li>
                            <a href="/agregarOrden">
                                <i class="bi bi-circle"></i><span>Agregar Orden</span>
                            </a>
                        </li>
                        <li>
                            <a href="/misordenes">
                                <i class="bi bi-circle"></i><span>Ver mis Ordenes</span>
                            </a>
                        </li>
                        <!--
                        <li>
                            <a href="/ordenesatender">
                                <i class="bi bi-circle"></i><span>Ordenes Por Atender</span>
                            </a>
                        </li>
                        <li>
                            <a href="/ordenesatendidasT">
                                <i class="bi bi-circle"></i><span>Ordenes Atendidas</span>
                            </a>
                        </li>
-->
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#a-nav" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-joystick"></i><span>Ordenes de Fabricación</span><i
                            class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="a-nav" class="nav-content collapse " data-bs-parent="#ordenes-nav">
                        <li>
                            <a href="/agregarof">
                                <i class="bi bi-circle"></i><span>Crear OF</span>
                            </a>
                        </li>
                        <li>
                            <a href="/ordenesfabricacionabiertas">
                                <i class="bi bi-circle"></i><span>Ingresar a Ordenes/Ordenes Abiertas</span>
                            </a>
                        </li>
                        <li>
                            <a href="/ordenesfabricacion">
                                <i class="bi bi-circle"></i><span>Cerrar/Salir Ordenes</span>
                            </a>
                        </li>
                        <li>
                            <a href="/ordenesfabricacionTerminadas">
                                <i class="bi bi-circle"></i><span>Mis OF´s Terminadas</span>
                            </a>
                        </li>
                        <!--
                        <li>
                            <a href="/ordenesatender">
                                <i class="bi bi-circle"></i><span>Ordenes Por Atender</span>
                            </a>
                        </li>
                        <li>
                            <a href="/ordenesatendidasT">
                                <i class="bi bi-circle"></i><span>Ordenes Atendidas</span>
                            </a>
                        </li>
-->
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="/salir">
                        <i class="bi bi-box-arrow-left"></i>
                        <span>Salir</span>
                    </a>
                </li>


            </ul>

        </aside><!-- End Sidebar-->
    {{/when}}
    <!-- Digitador Producción SideBar -->
    {{#when user.rolusuario 'eq' 6}}
        <aside id="sidebar" class="sidebar">

            <ul class="sidebar-nav" id="sidebar-nav">

                <li class="nav-item">
                    <a class="nav-link " href="/dashboard">
                        <i class="bi bi-grid"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="nav-heading">Pages</li>

                <li class="nav-item">
                    <a class="nav-link collapsed" href="/profile">
                        <i class="bi bi-person"></i>
                        <span>Profile</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#ordenes-nav" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-file-earmark-bar-graph"></i><span>Ordenes Mantenimiento</span><i
                            class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="ordenes-nav" class="nav-content collapse " data-bs-parent="#ordenes-nav">
                        <li>
                            <a href="/agregarOrden">
                                <i class="bi bi-circle"></i><span>Agregar Orden</span>
                            </a>
                        </li>
                        <li>
                            <a href="/misordenes">
                                <i class="bi bi-circle"></i><span>Ver mis Ordenes</span>
                            </a>
                        </li>
                        <!--
                        <li>
                            <a href="/ordenesatender">
                                <i class="bi bi-circle"></i><span>Ordenes Por Atender</span>
                            </a>
                        </li>
                        <li>
                            <a href="/ordenesatendidasT">
                                <i class="bi bi-circle"></i><span>Ordenes Atendidas</span>
                            </a>
                        </li>
-->
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#a-nav" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-joystick"></i><span>Ordenes de Fabricación</span><i
                            class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="a-nav" class="nav-content collapse " data-bs-parent="#ordenes-nav">
                        <li>
                            <a href="/agregarof">
                                <i class="bi bi-circle"></i><span>Crear OF</span>
                            </a>
                        </li>
                        <li>
                            <a href="/ordenesfabricacionabiertas">
                                <i class="bi bi-circle"></i><span>OF´s Abiertas</span>
                            </a>
                        </li>
                        <li>
                            <a href="/ordenesfabricacion">
                                <i class="bi bi-circle"></i><span>OF´s Asignadas</span>
                            </a>
                        </li>
                        <li>
                            <a href="/ordenesfabricacionTerminadas">
                                <i class="bi bi-circle"></i><span>OF´s Terminadas</span>
                            </a>
                        </li>
                        <li>
                            <a href="/reportefechasoft">
                                <i class="bi bi-circle"></i><span>Reportes OF's</span>
                            </a>
                        </li>
                        <li>
                            <a href="/parastiposdetalle">
                                <i class="bi bi-circle"></i><span>Agregar Paras/Tipos</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="/salir">
                        <i class="bi bi-box-arrow-left"></i>
                        <span>Salir</span>
                    </a>
                </li>


            </ul>

        </aside><!-- End Sidebar-->
    {{/when}}
    <label for=""></label>

{{/if}}
