<div class="formulario">
    <div class="container">
        <h2>Agregar Área</h2>
    </div>
    <form action="/addarea" method="post" class="needs-validation" novalidate>
        <div class="row g-2">
                <div class="col-md-6">
                    <label for="namearea" class="form-label">Nombre del Área</label>
                    <input type="text" name="nameArea" class="form-control" id="namearea" required placeholder="Nombre del área">
                    <div class="invalid-feedback">
                        Ingresa el nombre del Área
                    </div>
                </div>
        <div class="form-group boton-send">
            <input type="submit" class="btn btn-success btn-block" id="">
        </div>
        </div>


    </form>

</div>




