<div class="formulario">
    <div class="container">
        <h2>Agregar Proveedor</h2>
    </div>
    <form action="/addProveedor" method="post" id="" name="">
        <div class="row g-2">
            <div class="col-md">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="nameProveedor" id="floatingInput" placeholder="Ingresa el nombre del proveedor">
                    <label for="floatingInput">Nombre del Provedor</label>
                </div>
            </div>
        </div>


        <div class="form-group boton-send">
            <input type="submit" class="btn btn-success btn-block" id="">
        </div>


    </form>

</div>


</div>

