<div class="formulario">
    <div class="container">
        <h2>Agregar Orden de Fabricación</h2>
    </div>
    <form action="/agregarof" class="needs-validation" novalidate method="post" id="agregarof"
          name="agregarof">
        <div class="container">
            <div class="row g-2 mb-3">


                <div class="col-md">
                    <label for="idMaquinaria" class="form-label">Maquinaria</label>
                    <select name="idMaquinaria" class="form-select" id="idMaquinaria" required>
                        <option selected disabled value="">Escoge una Maquina</option>
                        {{#each maquinarias}}
                            <option value="{{idMaquinaria}}" name="{{nameMaquinaria}}">{{nameMaquinaria}}</option>
                        {{/each}}
                    </select>
                    <div class="invalid-feedback">
                        Selecciona una Maquinaria
                    </div>
                </div>
                <div class="col-md">
                    <label for="idMaterial" class="form-label">Material</label>
                    <select name="idMaterial" class="form-select" id="idMaterial" required>
                        <option selected disabled value="">Escoge un Material</option>

                    </select>
                    <div class="invalid-feedback">
                        Selecciona un Material
                    </div>
                </div>
            </div>

            <div class="inputsHidden">
                <input name="idstatus" type="hidden" value="1">

            </div>


            <div class="form-group boton-send">
                <input type="submit" class="btn btn-success btn-block" id="">
            </div>
        </div>
    </form>

</div>


<script>
    const selectMaquinaria= document.getElementById('idMaquinaria');
    const selectMaterial= document.getElementById('idMaterial');
    selectMaquinaria.addEventListener('change', function (){
        let idMaquinaria= selectMaquinaria.value;
        //console.log(idMaquinaria);
        selectMaterial.innerHTML = '';
        fetch('/buscarMateriales', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }, body: JSON.stringify({idMaquinaria: idMaquinaria})
        }).then(response => response.json())
                .then(data => {
                    //console.log(data)
                    data.materiales.forEach(materiales => {
                        const optionElement = document.createElement('option')
                        optionElement.value = materiales.idMaterial;
                        optionElement.textContent = materiales.nameMaterial;
                        selectMaterial.appendChild(optionElement);
                    })
                })
    })
</script>