
<div class="formulario">
<form action="/orden/agregarorden" method="post">

            <label>Solicitado por</label>
            <input type="text" class="form-control" name="nameSolicita" placeholder="Aquí va el nombre" autofocus>
            <br>
            <label>Maquina</label>
            <input type="text" class="form-control"name="area" placeholder="Aquí va la maquina">
            <br>
            <label>Descripción del problema</label>
    <textarea type="text" class="form-control" name="descripcion" placeholder="Aquí va la descripción"></textarea>
<div class="form-group boton-send">
    <button class="btn btn-success btn-block"> Enviar</button>
</div>
</form>
</div>