<form action="/probe" method="post">
    <div id="divPrincipal">
        <div>
            <div>
                <span>Nombre</span><input type="text" name="nombres" autocomplete="" />
            </div>
          <div>
                <span>Apellido</span><input type="text" name="apellidos" autocomplete="" />
            </div>
        </div>
    </div>

    <input type="button" value="+" id="agregar" /><input type="submit" value="Cargar usuario" />
</form>
<script>
</script>